//// Connect

%connect {
  position: relative;
  color: transparent;
  background-color: transparent;
  padding: 0.6em;
  margin: 0;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      white-space: nowrap;
      padding: 0.3em 0.6em;
      margin: 0;
      &:hover,
      &:focus,
      &:focus-within,
      &:focus-visible,
      &:active,
      &.active {
        color: transparent;
      }
      a {
        display: flex;
        flex-basis: auto;
        font-family: $sans-serif;
        font-weight: $sans-serif-regular;
        font-size: 14px;
        padding: 0;
        margin: 0;
        .connect-icon {
          color: transparent;
          align-self: center;
          padding: 0.6em;
          margin: 0;
        }
      }
    }
  }
}

// Connect One

.connect {
  @extend %connect;
  color: $primary;
  background-color: $secondary;

  a {
    color: $primary !important;
    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:active,
    &.active {
      color: $primary-ternary !important;
    }
  }
  .connect-contact {
    margin-left: 0.6em !important;
  }
  .connect-social {
    margin-right: 0.6em !important;
  }
}

// Media Queries

@media only screen and (max-width: 1200px) {
  .col {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .connect {
    padding: 0.3em;
    .col-auto {
      margin: 0;
      padding: 0;
    }
    .connect-contact {
      margin: 0 auto !important;
    }
    .connect-social {
      display: none;
    }
  }
}
