//// Solutions

%solutions {
  position: relative;
  padding: 6em;
  background-color: transparent;
  .solution {
    .text {
      padding: 3em;
    }
    .image {
      text-align: center;
      img {
        height: 600px;
        width: 100%;
        border-width: 0.03em;
        border-style: solid;
        border-radius: 0 !important;
        border-color: transparent;
        box-shadow: $large-shadow;
        border-color: $primary;
        box-shadow: $large-shadow;
        background-image: linear-gradient(
          -90deg,
          rgba(160, 193, 209, 0.3) 0%,
          rgba(238, 240, 242, 0.3) 100%
        );
      }
    }
  }
  .solution-video {
    .text {
      padding: 3em;
    }
    .image {
      text-align: center;
      img {
        height: 600px;
        width: 100%;
        border-width: 0.03em;
        border-style: solid;
        border-radius: 0 !important;
        border-color: transparent;
        box-shadow: $large-shadow;
        border-color: $primary;
        box-shadow: $large-shadow;
        background-image: linear-gradient(
          -90deg,
          rgba(160, 193, 209, 0.3) 0%,
          rgba(238, 240, 242, 0.3) 100%
        );
      }
    }
  }
}

// Solution

.solutions {
  @extend %solutions;
  background-color: $light;
  .solution {
    .image {
      img {
        border-color: $primary;
      }
    }
  }

  .solution-video {
    .image {
      img {
        border-color: $primary;
      }
      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.3em 1.6em;
        color: $secondary;
        background-color: $primary;
        border-color: $secondary;
        font-size: 30px;
        border-radius: 0 !important;
        box-shadow: $large-shadow;
        &:hover,
        &:focus,
        &:focus-within,
        &:focus-visible,
        &:active,
        &.active {
          color: $primary;
          background-color: $secondary-secondary;
          border-color: $secondary-secondary;
        }
      }
    }
  }
}

// Media Queries

@media only screen and (max-width: 1400px) {
  .solutions {
    padding: 6em;
    .col-xl-6 {
      margin: 0;
      padding: 0;
    }
    .solution {
      .text,
      .image {
        img {
          max-height: 600px;
          height: auto;
          width: 100%;
        }
      }
    }
    .solution-video {
      .text,
      .image {
        img {
          max-height: 600px;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .solutions {
    padding: 3em;
    .solution {
      .text,
      .image {
        padding: 3em 0 0 0;
        img {
          height: auto;
          width: 100%;
        }
      }
      .text {
        order: 2;
      }
      .image {
        order: 1;
      }
    }
    .solution-video {
      .text,
      .image {
        padding: 3em 0 0 0;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
