//// Tabs

%tabs {
  position: relative;
  color: transparent;
  background-color: transparent;
  padding: 3em;
  text-align: left;
  cursor: pointer;
  .text {
    ul {
      padding: 3em 0;
      background-color: transparent;
      li {
        background-color: transparent;
        a {
          font-family: $sans-serif;
          font-weight: $sans-serif-regular;
          color: transparent;
          border-width: 3px !important;
          border-style: solid;
          border-color: transparent !important;
          background-color: transparent !important;
          border-radius: 0 !important;
          &:hover,
          &:focus,
          &:focus-within,
          &:focus-visible,
          &:active,
          &.active {
            border-color: transparent;
          }
        }
      }
    }
    .nav-tabs {
      border-color: transparent;
      background-color: transparent;
    }
    .tab-content {
      .tab-pane {
        height: 9em;
        padding: 0;
      }
    }
  }
}

// Process

.process {
  @extend %tabs;
  background-color: $light;
  .text {
    ul {
      li {
        a {
          color: $primary !important;
          background-image: linear-gradient(
            -90deg,
            $secondary 0%,
            $primary 100%
          );
          background-repeat: no-repeat;
          background-size: 100% 0.3em;
          background-position: 0 100%;
          &:hover,
          &:focus,
          &:focus-within,
          &:focus-visible,
          &:active,
          &.active {
            color: $light !important;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  .image {
    img {
      width: 100%;
      height: 600px;
      border-width: 0.03em;
      border-style: solid;
      border-radius: 0 !important;
      border-color: $primary;
      box-shadow: $large-shadow;
      border-color: $primary;
      box-shadow: $large-shadow;
      background-image: linear-gradient(
        -90deg,
        rgba(160, 193, 209, 0.3) 0%,
        rgba(238, 240, 242, 0.3) 100%
      );
    }
  }
}

// Media Queries

@media only screen and (max-width: 600px) {
  .process {
    padding: 3em;
    .col-xl-6 {
      margin: 0;
      padding: 0;
    }
    .text {
      order: 2;
      ul {
        padding: 3em 0;
        display: block;
      }
    }
    .image {
      padding: 0 0 3em 0;
      order: 1;
      img {
        width: 100%;
        height: auto;
        max-height: 60vw;
      }
    }
  }
}
