//// Tooltip

%tooltip {
  position: relative;
  color: transparent;
  background-color: transparent;
  background: transparent;
  border-style: solid;
  border-width: 0.03em;
  border-radius: 0;
  border-color: transparent;
  border-top-color: transparent;
  font-size: 14px;
  font-family: $sans-serif;
  font-weight: $sans-serif-regular;
  box-shadow: $small-shadow;
}

// Filter

.tippy-tooltip {
  @extend %tooltip;
  color: $light;
  background-color: $primary;
  background: $primary;
  padding: 0.6em 1.2em;
  .arrow-regular {
    border-top-color: $primary !important;
  }
  [aria-hidden="true"] {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
